@import '../../../styles/variables';

.configuration {
    width: 100%;
    padding: 8px;
    background-color: $item-color;
    box-sizing: border-box;
    border-radius: 4px;

    label {
        font-size: 16px;
    }

    input {
        height: 30px;
        width: 64px;
        padding: 8px;
        background: $input-color;
        border: 1px solid $input-color;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
        color: $font-color;
        outline: none;

        &.error {
            border: 1px solid $red;
        }
    }

    .basic, .goal {
        border: 1px solid $bg;
        border-radius: 4px;
    }

    .basic, .goal, .dynamic {
        padding: 12px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;

        .input-group {
            margin: 8px 16px;
        }
    }

    .dynamic {
        justify-content: space-around;
        flex-wrap: wrap;

        .list-group {
            padding: 16px;
            margin: 8px 16px;
            border: 1px solid $bg;
            border-radius: 4px;
            min-width: 400px;
            box-sizing: border-box;

            h3 {
                margin: 12px 0;
                box-sizing: border-box;

                &:first-letter {
                    text-transform: capitalize;
                }
            }

            .list {
                width: 100%;
                box-sizing: border-box;

                .header {
                    margin: 8px 0;
                    margin-right: 60px;
                    padding: 4px 8px;
                    display: flex;
                    align-items: baseline;
                    opacity: 0.5;

                    span {
                        margin: 0 4px;
                        text-transform: capitalize;
                        flex: 1 1 auto;
                    }
                }

                .item {
                    margin: 8px 0;
                    padding: 12px 8px;
                    display: flex;
                    align-items: baseline;
                    line-height: 0;
                    font-size: 16px;
                    background-color: $bg;
                    box-sizing: border-box;
                    border-radius: 4px;

                    span {
                        margin: 0 4px;
                        flex: 1 1 auto;

                        &:first-child {
                            font-weight: 600;
                        }

                        &:last-child {
                            flex: none;
                        }
                    }

                    .remove {
                        font-size: 32px;
                        color: $red;
                        cursor: pointer;
                    }
                }
            }

            .add-item {
                width: 100%;
                padding: 4px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                box-sizing: border-box;

                input {
                    margin: 0 4px;

                    &:not(:first-child) {
                        width: 96px;
                    }
                }

                button {
                    margin: 0 4px;
                    padding: 4px 8px;
                    border: none;
                    border-radius: 4px;
                    font-size: 14px;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .dynamic-portfolio {
            width: 320px;
        }

    }
}
