@import '../styles/variables';

.helper {
    padding: 4px 8px;
    margin: 4px;
    font-size: 14px;
    background-color: #7a3680;
    color: #9e9e9e;
    border-radius: 100%;
    cursor: pointer;
}

.tooltip {
    background-color: $input-color !important;
    max-width: 400px !important;
    text-align: start !important;
    font-weight: normal;
    font-size: 14px !important;
}
